input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #181818;
  font-size: 1.5em;
}

ul, ol {
  list-style: none;
  padding: 0;
}

header {
  background-color: #c20000;
  color: #ededed;
  height: 5em;
}

header h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.7em;
}

.content {
  text-align: center;
  padding: 0 10% 0 10%;
}

.listinput {
  padding-top: 1em;
}

.listinput > input {
  border: none;
  border-bottom: 1px solid #ededed;
  padding: 0.1em 0.25em;
}

.listinput > input[type=number] {
  width: 2em;
  text-align: right;
  margin-right: 0.5em;
  -moz-appearance:textfield;
}

.itemlist {
  padding-top: 2em;
}

.complete, .quantityComplete {
  color: #cccccc;
  text-decoration: line-through;
}

.reset {
  padding: 1em 0em 1em 0em;
}

button, input[type=button] {
  border: none;
  text-decoration: none;
  background-color: red;
  color: #ededed;
  padding: 0.25em;
}

.todoQuantity, .todo, .complete, .quantityComplete {
  text-align: left;
  display: inline-block;
  vertical-align: text-top;
}

.todoQuantity {
    padding-left: 1em;
}

@media only screen and (max-width: 620px) {
  header h1 {
    font-size: 1.5em;
    line-height: 3em;;
  }

  input[type=checkbox] {
    font-size: 5em;
  }

  .listinput > input {
    display: block;
    margin: 0 auto 0 auto;
    width: 6em;
  }

  .listinput > input[type=text] {
    width: 9em;
    text-align: center;
  }
  .listinput > input[type=number] {
    text-align: center;
    margin: 0.5em auto 0.5em auto;
  }

  .itemlist {
    padding-top: 1em;
  }
}

/**526px breaking point**/
